<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-layout>
    <ion-list>
      <app-card-post *ngFor="let pub of post"
      [username]="pub.username"
      [location]="pub.location"
      [avatarUrl]="pub.avatarUrl"
      [createAt]="pub.createAt"
      [contentUrl]="pub.contentUrl"
      [likes]="pub.likes"
      [description]="pub.description"
      ></app-card-post>
    </ion-list>
  </app-layout>
</ion-content>